In [1]:
import tensorflow as tf

In [3]:
# create tf dataset from a list

sales_number = [10,21,-21,54,100,45,-12]
tf_dataset = tf.data.Dataset.from_tensor_slices(sales_number)
tf_dataset

In [4]:
for sales in tf_dataset:
    print(sales.numpy())

10
21
-21
54
100
45
-12

In [7]:
# iterate through elements as numpy elements

for sales in tf_dataset.as_numpy_iterator():
    print(sales)

10
21
-21
54
100
45
-12

In [9]:
for sales in tf_dataset.take(3):
    print(sales.numpy())

10
21
-21

In [10]:
# Filter sales numbers that are < 0

tf_dataset = tf_dataset.filter(lambda x: x>0)
for sales in tf_dataset.as_numpy_iterator():
    print(sales)

10
21
54
100
45

In [11]:
# convert $ to tk

tf_dataset = tf_dataset.map(lambda x: x*127)
for sales in tf_dataset.as_numpy_iterator():
    print(sales)

1270
2667
6858
12700
5715

In [12]:
# shuffle the datas

tf_dataset = tf_dataset.shuffle(2)
for sales in tf_dataset.as_numpy_iterator():
    print(sales)

1270
6858
12700
5715
2667

In [13]:
# Batching

for sales_batch in tf_dataset.batch(2):
    print(sales_batch.numpy())

[1270 2667]
[12700  5715]
[6858]

In [15]:
# perform all those operations in one slot

tf_dataset = tf.data.Dataset.from_tensor_slices(sales_number)
tf_dataset = tf_dataset.filter(lambda x: x>0).map(lambda y: y*127).shuffle(2).batch(2)
for sales in tf_dataset.as_numpy_iterator():
    print(sales)

[2667 1270]
[ 6858 12700]
[5715]